body {
    background-color: #4ddbff
}

.section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.circular--square {
    border-radius: 50%;
}

.nobull {
    list-style-type: none;
}

.quote {
    font-size: 12pt;
    text-align: right;
    margin-top: 10px;
}